---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static
WarningsAsErrors: ""
HeaderFilterRegex: ".*nbt.*\\.h"
FormatStyle: file
